/* CSS HEX */
:root{
--dark-purple: #36213eff;
--english-violet: #554971ff;
--slate-gray: #63768dff;
--non-photo-blue: #8ac6d0ff;
--non-photo-blue-2: #b8f3ffff;
--dark-blue: #04264e; 
--light-blue:#cce5e7; /*#daf5f7; */
--light-orange:#f5cc90;
--dark-orange:#b68f55;

/*1*/
--pond-green: #3f7655;
--background-green:#b7e2c6;

/*2*/
--rain-blue:#1d3756;
--vibrant-blue:#7da3bc;

/*3*/
--dark-green:#1f2f20;
--bug-green:#c9c76c;
--light-green:#89c296; 

/*4*/

--gray-green:#6c8f73;
--white-green:#c2dac1;
--spring-green:#7bd363; 

/*5*/

--clear-white: #e4fbf5;
--dead-green: #748b84;
--soft-green:#a7dcd5;

/*6*/
--corn-yellow: #c5a224;
--dark-gray: #222329;
/*7*/
--summer-blue: #9bcdd6;
--ok-blue: #345780;
--summer-gold: #f3dbac; 
/*8*/
--field-gold: #dcbc7c; 
--field-brown: #483f2d; 
--field-white: #fcf9f1; 
/*9*/
--bright-gold: #fad564;
--bright-scarlet:#872b13;
--sand-brown: #5f201a;
--9red: rgb(220, 88, 44);
/*10*/
--azure-blue: #0a7bc7;
--text-blue: #142f41;
--yellow-green:#dee175;
--sky-blue:#cae1e8;
/*11*/

--heat-orange:#d18a8a;
--heat-purple:#685a74;
--dark-purple:#2e3a40;
/*12*/
--hot-orange:#b64c31;
--sky-white:#f5f4f1;
--sun-yellow:#faeab2;
/*13*/
--autumn-orange:#928e38;
--pumpkin-orange:#efbd16;
--oak-brown:#484c18;
--text-brown:#7f4f17;
/*14*/
--sand-white:#f2f6e1;
--ocean-blue:#85a19a;
--dawn-orange:#ecaf83;


/*15*/
--sky-white: #e1e9e6;
--gray-blue:#66a2b7;
--wheat-beige:#b9bda5;

/*16*/
--autumn-red:#997d37;
--birch-white:#ddcaac;
--spot-brown:#3a2720;


/*17*/
--han-blue: #7eab95;
--peach-yellow:#e5deb1;
/*18*/
--shuang-blue:#5b7966;
/*19*/
--icy-blue:
#b3c9d5;
--light-orange: #ffc4a4;
/*20*/
--snow-white:#daf1e4;
--pine-green:#3d2f2b;
/*21*/
--gray-white:#4a3f58;
/*22*/
--midnight-blue:#090a19;
/*23*/
--frosted-gray:#2a414d;

/*24*/
--cold-brown:#2b2b23;
--deep-blue:#1d2e35;
--text-gray:#8e8c67;


}

body{
    font-family: "Proza Libre", sans-serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;

    margin-bottom: 10vh;     
}


a:link, a:visited{
    text-decoration:none;
    color: var(--light-blue);
    transition: 0.5s;

}


a:hover{
    color: var(--dark-orange);
    transition: 0.5s;
}

.solar:link, .solar:visited{
    text-decoration:none;
    color: var(--ok-blue)!important;
    transition: color 0.5s;
}
.solar:hover{
    color: var(--dark-orange) !important;
    transition: color 0.5s;
}

h1 {

    font-size: 10vh;
    margin-block: 5vh;

}
    
h2 {
    font-size: 5vh;
}


h3{
    font-size:4vh;
    position: relative;
    
    z-index: 3;
}
p {
    font-size: 2vh;
    margin-block:1vh;
    padding: 1vh;
}
ul {
    list-style-position: inside;
}

/*CLASSES*/

.entry, .entry2{
    opacity: 0.6;
    font-family: "Noto Serif TC", serif;
    line-height: 3;
    font-size: 3.5vh;
    display:inline-block;
    padding-inline: 3vw;

    border: none;
    filter: blur(1px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
}
.entry:hover, .entry2:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1.0;
    z-index: 5;
}

.entry2 {
    color: black !important; /* Force black color with !important */
    text-decoration: none;
    transition: 0.5s;
}
.entry2:hover{
    color: var(--english-violet) !important; 
    transition: 0.5s;
}

#spacedletter{
    letter-spacing: 5px;
}
.chinese{
    display: block;
    font-weight:bolder;
    font-size: 12vh;
    font-family: "Noto Serif TC", serif;
    text-align: center;
    float: none;
    z-index: 3;
    transition: 0.5s;
    position:relative;
}
.chinese:hover{
    z-index: 10;
    font-size: 20vh;
    transition: 0.5s;
}

.mainmenu{
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gradient{
    background: linear-gradient(232deg, #b7e2c6, #1d3756, #1f2f20, #6c8f73, #e4fbf5, #c5a224, #f3dbac, #dcbc7c, #fad564, #0a7bc7, #d18a8a, #b64c31, #928e38, #f2f6e1, #e1e9e6, #997d37, #997d37, #7eab95, #5b7966, #b3c9d5, #edf6f3, #4a3f58, #090a19, #2a414d, #2b2b23);
    background-size: 5000% 5000%;

    -webkit-animation: AnimationName 58s ease infinite;
    -moz-animation: AnimationName 58s ease infinite;
    animation: AnimationName 58s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}


.banner {
    padding-bottom:5vh;
    position: relative;
    width: 100%;
    height: 90vh; /* Set the desired height */
    overflow: auto;
}


.banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(56, 9, 9);
    display: inline-block;
}

.titles {
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    opacity: 0.5;
    filter: blur(2px);
    transition: 0.5s;
    margin-inline: 20vw;

}
.titles:hover{
    opacity:1.0;
    filter: blur(0px);
    transition: 0.5s;
}

.memories{
    display: grid;
    margin-inline: 20vw;
    text-align: center;
    

    animation-name: blur;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
    
}
.topbar{
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.topbar .previous, .topbar .next, .topbar .item{
    opacity: 0.5;
    color: black !important;
   
}
.topbar .previous, .topbar .previous1{
    flex: 1;
    text-align: left;
}

.topbar .item, .topbar .item1{
    flex: 1;
    text-align: center;
}

.topbar .next, .topbar .next1{
    flex: 1;
    text-align: right;
}

.topbar .previous1, .topbar .next1, .topbar .item1{
    color: white !important;
    opacity: 0.5;
   
}
.topbar .previous:hover, .topbar .next:hover, .topbar .previous1:hover, .topbar .next1:hover, .topbar .item:hover, .topbar .item1:hover{
    opacity: 1.0;
}
.degree{
    font-weight:bolder;
    font-size: 8vh;
    font-family: "Noto Serif TC", serif;
}
.element1, .element2{
    opacity: 0.5;
    position: absolute;
    transition: ease 1s;
    margin-inline: 2vh;
    z-index: 2;
    display:flex;
    align-items:center;

}

/*ELEMENTS*/

.element1{
    
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
    padding: 5vh;
    z-index: 2;
    font-size: 2.0vh;

    background-color:var(--light-blue);

    text-align: center;
    animation-name:wind1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    transform: scale(1.0);
   

}
.element2{
    /*background-color:var(--dark-purple);*/
    box-shadow: 10px 5px 5px var(--vibrant-blue);
    color: white;
    animation-name:rain1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
    transform: scale(1.0);
    opacity: 1.0;
    transform: scale(1.0);
    
}
.element3{
    opacity: 0.8;
    position: absolute;
    transition: ease 1s;
    display: flex;
    align-items:center;
    color: black;
    background-color:var(--bug-green);
    width: 15vw;
    height: 30vh;;
    border-radius: 50%;
    padding: 1vh;

    box-shadow: 0 0 5px 10px var(--bug-green);

    animation-name:blur-move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
}
.element4{
    position: absolute;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    background-color: var(--spring-green);
    filter: drop-shadow(0 0 5px var(--spring-green));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    margin: 2vh;
    
    opacity: 0;
    height: 15vh;
    width: 15vw;
    
    animation-name: wind-roll;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    --current-x: 0;
    --current-y: 0;
    transform: translate(var(--current-x), var(--current-y)) rotate(0deg);
    transition: transform 0.5s ease-in-out; 

}
.element5{
    position: absolute;
    height: 15vh;
    width: 15vw;
    opacity: 0.0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
    padding: 5vh;
}
.element1:hover{
    opacity: 1.0;
    animation-play-state: paused;
    

}
.element2:hover{
    animation-play-state: paused;
    background-color:var(--han-blue);
}
.element3:hover{
    transform: scale(1.1);
    opacity: 0.0;
    transition: 1s;
    filter: blur(0);
    animation-play-state: paused;
}
.element4:hover {
    transform: rotate(0deg) translate(var(--current-x), var(--current-y)) !important;
    opacity: 1.5 !important; /* Smooth transition */
    animation-play-state: paused;  /* Pause the animation on hover */
    transition: transform 0.5s ease-in-out; 
    transition: ease;
}
.element5:hover{
    opacity: 1.0 !important;
    transition: ease;
    transition: 0.5s;
}
.element6{
    position: absolute;
    background-color:var(--dark-orange);
    height: 30vh;
    width: 8vw;
    font-size: 1.5vh;
    text-align: center;
    top: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    padding: 1vmin;

   
    box-shadow: 0px 3px 10px var(--corn-yellow);

    margin-inline: 5vw;

    overflow: hidden;

    animation: growth 12s ease-in-out infinite;
    

    transform-origin: bottom !important; /* Set the origin of the scale to the bottom */
    transition: 1s; 
    animation-play-state: running;

    z-index: 1;
}
.element6:hover{
    animation-play-state: paused !important;
    z-index: 3;
    opacity: 1.0;
    transition: 1s;
    background-color:#cbab7c;
}

.element7{
    opacity: 0.8;
    position: absolute;
    transition: ease 1s;
    display: flex;
    align-items:center;
    color: black;
    background-color:var(--light-blue);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 1vh;
    text-align: center;
    opacity: 0.0;

    top: 80vh;

    box-shadow: 0 0 5px 10px var(--light-blue);

    animation-name:bubble;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
    filter: blur(1px);
    transition: 0.5s;
}
.element7:hover{
    animation-play-state:paused;
    z-index: 3;
    transition: 1s;
    filter: blur(0px);
    transition: 0.5s;
    background-color:var(--summer-gold);
    box-shadow: 0 0 5px 10px var(--summer-gold);
}

.element8{
  
    background-color:var(--field-brown);
    position: absolute;
    color: white;
    opacity: 0.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    transition: 0.1s;
    margin: 2vw;
    z-index: 3;
    padding: 5vh;

    animation-name:crops;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 

    transition: clip-path 2s ease-in-out;

    

    

}
.element8:hover{
    
    animation-play-state: paused;
    opacity: 1.0;
    transition: 0.1s;
}
.element9{
    position: absolute;
    background-color: var(--light-orange);
    color: black;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2vw;

    z-index: 1;
    opacity: 0.8;

    box-shadow: 0 0 5px 10px var(--light-orange);

    animation: tetris 12s linear infinite;
    animation-play-state: running;
    opacity: 1.0;
    transition: 1s jump-start;
    

}
.element9:hover{
  transition: 0.1s;
  color: var(--bright-scarlet);
}
.element10{
    position: absolute;
    text-shadow: rgb(63, 68, 104) 2px 2px 5px;
    animation: bob 5s ease infinite;
    filter: blur(0px);
    transition: 1s ease;
    color: white;
    margin: 2vh;
}
.element10:hover{
    filter: blur(20px);
    transition: 1s ease;
}
.element11{
    opacity: 0.5;
    position: absolute;
    display: flex;
    align-items:center;
    text-align: center;
    color: white;
    background-color:var(--heat-purple);
    width: 12rem;
    height: 12rem;
    font-size: 2vh;
    border-radius: 50%;
    padding: 1vh;

    box-shadow: 0 0 5px 10px var(--heat-orange);

    animation-name:tennis;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
    transition: 1s ease;
}
.element11:hover{
    animation-play-state:paused;
    transition: 1s ease;
    opacity: 1.0;
    background-color: var(--dark-purple);
    box-shadow: 0 0 5px 10px var(--hot-orange);
}
.element12{
    opacity: 0.5;
    position: absolute;
    top: 80vh;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    color: white;
    background-color: var(--heat-orange);
    width: 15rem;
    height: 15rem;
    font-size: 3vh;
    border-radius: 50%;
    padding: 1vh;
    transition: 1s ease;
    margin: 5vh;
    z-index: 3;
    filter:blur(1px);

    animation-name:heat;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}
.element12:hover{
    opacity: 1.0;
    color: var(--bright-gold);
    border-radius: 75%;
    height: 25rem;
    filter:blur(0px);
    
    transition: 1s ease;

}
.element13{
    opacity: 0.8;
    position: absolute;
    display: flex;
    align-items:center;
    text-align: center;
    color: var(--autumn-orange);
    background-color:var(--clear-white);
    width: 15rem;
    height: 8rem;
    font-size: 2vh;
    padding: 1vh;

    box-shadow: 10px 5px 5px var(--pumpkin-orange);

    animation: windmill 2s linear infinite;
  
    transition: 0.5s ease;
}
.element13:hover{
    animation-play-state: paused;
    transition: 0.5s ease;
    height: 30%;
}
.element14{
  
    background-color:
    #957d5f;
    color: var(--sand-white);
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
	width: 20vw;
	height: 35vh;
    font-size: 2.5vh;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content:center;
    padding: 2vh; /* Add padding to keep text inside */
    box-sizing: border-box; /* Ensure padding is within the element size */
    position: absolute; /* Add position to enable positioning */
    z-index: 1;
    opacity: 0;
    transition: 3s ease;

    animation: side-fall 5s linear infinite;
    text-shadow: #FC0 1px 0 10px;
  }
  .element14:hover{
    animation-play-state:paused;
    text-shadow: rgb(0, 89, 255) 1px 0 10px;
    transition: 1s ease;
    font-size:2vh;

  }

  .element15{
    background-color: var(--gray-blue);
    color:var(--white-green);
    font-size: 2.5vh;
    position: absolute;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content:center;
    padding: 2vh; 
    border-radius:75%;


    transition: 1s;

    box-shadow: 0 0 20px 10px var(--gray-blue);


    opacity: 0.8;

    width: 10vw;
	height: 40vh;

    animation: dew 10s linear infinite;
  }
  .element15:hover{
    transition:1s;
    background-color: var(--dark-blue);
    animation-play-state:paused;
    font-size: 150%;
    color: white;
    filter:blur(0px);
  }
  .element16{
    opacity: 0.8;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    color: var(--clear-white);
    background-color:#d0a941;
    width: 15rem;
    height: 6rem;
    font-size: 2vh;
    padding: 1vh;
    animation: fallingleaves 20s linear infinite;
  
    transition: 2s ease;
  }
  .element16:hover{
    animation-play-state: paused;
    transition: 1s ease;
    border-radius: 50%;
  }
  .element17{
    position: absolute;
    text-shadow: 1px 1px 2px pink;
    animation: shimmer-appear 10s ease infinite;
    filter: blur(0px);
    transition: 1s ease;
    font-size: 3vh;
    color: white;
    margin: 2vh;
    opacity: 0;
    animation-play-state:running;

  }
  .element17:hover{
    animation-play-state:paused;
    text-shadow: 1px 1px 4px rgb(154, 71, 85);
  }

  .element18{
    background-color:#f0ebdd;
    position: absolute;
    border-radius:50%;
    border: 3px solid rgb(255,255,255,0.5);
    box-shadow: 0 0 20px 10px var(--gray-blue);
    height: 10vh;
    width: 10vw;
    padding: 8vh;
    font-size: 2vh;

    display: flex;
    float:bottom;
    align-items:center;
    justify-content:center;
    text-align: justify;

    animation: freeze 5s ease infinite;
    transition: 1s;
   
    
  }
  .element18:hover{
    opacity: 0.3;
    animation-play-state: paused;
    transition: 1s;
  }

  .element19{
    text-shadow: rgb(77, 113, 186) 1px 0 10px;
    position: absolute;
    animation: snow-move 3s ease infinite;
    filter: blur(0px);
    transition: 0.7s ease;
    color: white;
    margin: 2vh;
    width: 20vh;
    text-align: center;
    font-size:3vh;
  }
  .element19:hover{
    transition: 0.5s ease;
    text-shadow: rgb(206, 122, 111) 1px 0 50px;
  }

.element20{
    opacity: 1;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    color: rgb(15, 15, 56);
    background-color: white;
    width: 15rem;
    height: 15rem;
    font-size: 2vh;
    border-radius: 50%;
    padding: 1vh;
    transition: 1s ease;

    box-shadow: 10px 5px 5px var(--vibrant-blue);

    animation:snowball 10s linear infinite;
    opacity: 1;
    transition: 5s;
    
   }

.element20:hover{
    opacity: 0;
    transition: 5s;
    background-color: rgb(252, 213, 213);

    box-shadow: 10px 5px 5px var(--heat-orange);

}
.element21{
    color: var(--peach-yellow);
    text-shadow: rgb(209, 236, 231) 1px 0 10px;
    position: absolute;
    animation: electricity 5s linear infinite;
    filter: blur(0px);
    transition: 0.7s ease;
    margin: 2vh;
    text-align: center;
    font-size: 3vh;
}
.element21:hover{
    transition: 1s ease;
    font-size:4vh;
    text-shadow: rgb(159, 147, 249) 1px 0 10px;
    animation-play-state: paused;
}

.element22{
    color: #ece2d1;
    width: 30vh;
    font-size: 3vh;
    position: absolute;
    filter: blur(2px);
    transition: 0.5s;
    opacity: 0;

    animation: flicker 15s ease infinite;
}
.element22:hover{
    animation-play-state: paused;
    
    font-size: 3.2vh;
    opacity: 1;
    filter: blur(0px);
    transition: 0.5s;
    
}
.element23{
    color: white;
    opacity: 0.7;
    background-color:var(--frosted-gray);
    position: absolute;
    transition: 0.5s;
    padding: 1vh;
    opacity: 1;
    transition: 0.5s;

    height: 20vh;
    width: 10vw;
    animation: shiver 1.5s linear infinite;

    box-shadow: 0 0 5px 10px var(--frosted-gray);
}
.element23:hover{
    filter:blur(2px);
    opacity: 0;
    transition: 0.1s;
}

.element24{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(217, 218, 224);
    position: absolute;
    transition: 0.5s;
    padding: 1vh;
    height: 30vh;
    width: 10vw;

    filter:blur(5px);

    animation: solidify 5s ease infinite;
}
.element24:hover{
    width: 20vw;
    transition: 0.5s;

}
  



/*QUERIES*/

@media screen and (max-width:1400px)
{
    .entry, .entry2{
        font-size: 2.0vh;
        background-size: cover;

    }
}
@media screen and (max-width:1100px)
{
    .mainmenu{
    grid-template-columns: 1fr 1fr;
    }
    .entry, .entry2{
        font-size: 2.0vh;
        background-size: cover;

    }
    h1{
        font-size: 5vh;
    }
    h3{
        font-size:4vh;
    }
    .chinese{
        font-size:6vh;
    }
    .topbar{
        font-size: 3vh;
    }
    element1, .element2, .element3, .element4, .element6, .element11, .element12, .element13, 
    .element14, .element15, .element16, .element17, .element18, .element19, .element20, .element21, .element22, .element23, .element24{
        font-size: 1.8vh;
      
    }
    
    
}
@media screen and (max-width:1000px)
{
    .mainmenu{

        grid-template-columns: 1fr;

    }
    h1{
        font-size: 4vh;
    }
    h3{
        font-size:3vh;
    }
    .entry, .entry2{
        font-size: 2.0vh;
        background-size: cover;

    }
    .element1, .element2, .element3, .element4, .element6, .element11, .element12, .element13, 
    .element14, .element15, .element16, .element17, .element18, .element19, .element20, .element21, .element22, .element23, .element24{
        font-size: 1.0vh;
      
    }
    .element3{
        width: 15vw;
        height: 10vh;
    }
    .element14{
        width: 30vw;
        height: 10vh;
    }
    .element15{
        width: 10vw;
        height: 5vh;
    }
    .element18{
        width: 8vw;
        height: 4vh;
    }
    .element22{
        width: 10vw;
        height: 3vh;
    }

}


/*ANIMATIONS*/
@keyframes blur{
    0% {

    }
    50%{
        filter: blur(4px);
    }
    100%{

    }
}
@keyframes blur-move{
    0% {
        transform: translate(0,0);
    }
    20%{
        transform: translate(0,-10%);
    }
    50%{
        transform: translate(0,50%);
    }
    80%{
        transform: translate(0,-10%);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes wind1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10%, -10%);
    }
    50% {
        transform: translate(20%, 20%);
    }
    75% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes rain1 {
    0% {
        transition: ease;
        transform: translate(0, 0);
        opacity: 0;
    }
    25% {
        transform: translate(0%, 200%);
        opacity: 0.8;
    }
    50% {
        transform: translate(0%, 400%);
        opacity: 0.6;
    }
    75% {
        transform: translate(0%, 600%);
        opacity: 0.4;
    }
    90% {
        transform: translate(0, 800%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}
@keyframes wind-roll{
    0% {
        
        opacity: 0;
        transform: translate(0, 0);
        transform: rotate(0deg);
        --current-x: 0;
        --current-y: 0;
    }
    25%{
        --current-x: 130%;
        --current-y: -120%;
        transform: translate(130%, -120%) rotate(90deg);;
        opacity: 50%;
        
    }
    50%{
        --current-x: 150%;
        --current-y: -150%;
        transform: translate(150%, -150%) rotate(180deg);
        opacity: 100%;
        
    }
    75%{
        --current-x: 270%;
        --current-y: -280%;
        transform: translate(270%, -280%) rotate(270deg);
        opacity: 50%;
        
    }
    100%{
        --current-x: 1000%;
        --current-y: -1000%;
        transform: translate(1000%, -1000%) rotate(360deg);
        opacity: 0;
       
    }
}
@keyframes growth{
    0%{
        transform-origin: bottom ;
    
        transform: scaleY(0.2);
        opacity: 0;
        transition: ease;
    }
    5%{
        opacity: 1.0;
    }
    25%{
        transform: scaleY(0.8);
        opacity: 1.0;
    }
    30%{
        transform: scaleY(1.0);
    }
    80%{
        transform: scaleY(1.5);
    }
    90%{
        transform: scaleY(3.0);
       opacity: 0.8;
    }
    95%{
        opacity: 0.0;
    }
    100%{
        opacity: 0.0;
    }
}
@keyframes bubble{
    0%{
        transform: scale(1.0);
        opacity: 0.0;
        transition: ease;
    }
    5%{
        opacity: 0.3;
        transform: translate(50%, -50%)
    }
    10%{
        transform: scale(1.1) translate(-10%, -60%) rotate(30deg);
        opacity: 0.5;
        
    }
    20%{
        transform: scale(1.3) translate(30%, -80%) rotate(-20deg);
        opacity: 1.0;
       
    }
    50%{
        transform: scale(1.5) translate(-50%, -120%) rotate(40deg);
        
    }
    75%{
        transform: scale(2.0) translate(40%, -150%);
        

    }
    90%{
        transform: scale(5.0) translate(-25%, -200%) rotate(-30deg);
        transition: linear;
    }
    100%{
        opacity: 0.0;
    }
}
@keyframes crops{
    0%{
        transform: translate(-110%, 0%);
        
    }
    10%{
        transform: translate(100%, 0%);
    }
    20%{
        transform: translate(200%, 0%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }
    30%{
        transform: translate(300%, 0%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    40%{
        transform: translate(400%, 0%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    50%{
        transform: translate(500%, 0%);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    }
    60%{
        transform: translate(600%, 0%);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    70%{
        transform: translate(700%, 0%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }

    80%{
        transform: translate(800%, 0%);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    }

    90%{
        transform: translate(900%, 0%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }

    100%{
        transform: translate(1000%, 0%);
        clip-path: circle(50% at 50% 50%);
    }
}
@keyframes tetris{
    0%{
        transform: translate(0%, 0%);
        opacity: 0.0;
    }
    5%{
        opacity: 0.8;
    }
    90%{
        transform: translate(0%, 200%);
        opacity: 0.8;
    }
    100%{
        transform: translate(0%, 700%);
        opacity: 0.0;
    }
}
@keyframes bob{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes tennis{
    0%{
        transform: translate(0%,0%);
    }
    10%{
        transform: translate(300%,0%);
    }
    20%{
        transform: translate(300%,-100%);
    }
    30%{
        transform: translate(0,-100%);
    }
    40%{
        transform: translate(0,-200%);
    }
    50%{
        transform: translate(300%,-200%);
    }
    60%{
        transform: translate(0,-200%);
    }
    70%{
        transform: translate(0,-100%);
    }
    80%{
        transform: translate(300%,-100%);
    }
    90%{
        transform: translate(300%,0%);
    }
    100%{
        transform: translate(0%,0%);
    }
    
}
@keyframes heat{
    0%{
        transform: translate(0%, 0%) rotate(0deg);
    }
    50%{
        transform: translate(200%, 0%) rotate(180deg);
    }
    75%{
        transform: translate(-100%, 0%) rotate(-90deg);
    }
    100%{
        transform: translate(0%, 0%) rotate(0deg);
    }
}
@keyframes windmill{
    0%{
        transform: rotateY(0deg);
    }
  
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes side-fall{
 0%{
    transform: translate(0%,0%);
    filter: blur(4px);
    opacity: 0;
 }
 5%{
    opacity: 0.7;
    filter:blur(0px);
 }
 25%{
    
    filter:blur(0px);
 }
 50%{
    
 }
 75%{
    filter:blur(0px);
 }
 95%{
    opacity: 0.7;
    filter:blur(0px);
 }
 100%{
    transform: translate(200%,200%);
    filter: blur(4px);
    opacity: 0
 }
}
@keyframes dew{
    0%{
        transform: tranlsate(0%, 0%);
        opacity: 0;
        filter: blur(0px);
    }
    5%{
        filter:blur(2px);
    }
    10%{
        filter:blur(0px);
    }
    15%{
        filter:blur(2px);
    }
    20%{
        filter:blur(2px);
    }
    25%{
        filter:blur(0px);
    }
    30%{
        filter:blur(2px);
    }
    35%{
        filter:blur(0px);
    }
    40%{
        filter:blur(2px);
    }
    45%{
        filter:blur(0px);
    }
    50%{
        opacity: 0.6;
        height: 110%;
        transform: translate(0%, 0%);
    }
    100%{
        height: 110%;
        transform: translate(0%, 100%);
        opacity: 0;
    }
}
@keyframes fallingleaves{
    0%{
        transform: rotateY(0deg);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    20%{
        transform: rotateY(360deg) translate(-25%, 100%);
    }
    40%{
        transform: rotateY(720deg) translate(25%, 200%);
    }
    60%{
        transform: rotateY(1080deg) translate(-25%, 300%);
    }
    80%{
        transform: rotateY(1440deg) translate(25%, 400%);
        opacity: 1;
    }
    100%{
        transform: rotateY(1800deg) translate(-25%, 500%);
        opacity: 0;
    }
}
@keyframes shimmer-appear{
    0%{
        filter: blur(0px);
        opacity: 0;
        width: 80%;
    }
    20%{
        opacity: 1;
        filter: blur(1px);
    }
    40%{
        filter:blur(0px);
    }
    60%{
        filter:blur(1px);
    }
    80%{
        filter:blur(0px);
        opacity: 1;
    }
    100%{
        width: 0%;
        filter: blur(0px);
        opacity: 0;
    }
    
    
}
@keyframes freeze{
    0%{
        border-radius:50%;

    }
    50%{
        border-radius:0%;
        height: 15vh;
        width: 3vw;
        padding: 5vh;
    }
    100%{
        border-radius:50%;
        height: 10vh;
        width: 10vw;
        padding: 8vh;
    }
}
@keyframes snow-move{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes snowball{
    0%{
        border-radius: 0%;
        translate: translate(0%, 0%) rotate(0deg) scale(1.0);
    }
    10%{
        border-radius: 50%;
        translate: translate(0%, 0%) rotate(0deg) scale(1.0);
    }
    25%{
        transform: translate(-50%, 0) rotate(-90deg);
    }
    50%{
        border-radius: 50%;
        transform: translate(-158%, 0) rotate(-360deg) scale(1.5);
       
    }
    70%{
        border-radius: 50%;
        transform: translate(-158%, 0) rotate(-360deg) scale(1.5);
    }
    75%{
        border-radius: 50%;
        transform: translate(-50, 0%) rotate(-90deg) scale(2.0);
    }
    90%{
        transform: translate(-25%, 0%) rotate(-90deg) scale(1.5);
        border-radius: 50%;
    }
    100%{
        translate: translate(0%, 0%) rotate(0deg) scale(1.0);
        border-radius:0%;
    }
}
@keyframes electricity{
    0%{
        transform: translate(0%,0%);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    19%{
        transform: translate(35%,0%);
    }

    20%{
        transform: translate(40%,-400%);
    }
    21%{
        transform:translate(45%,0%);
    }
    49%{
        transform:translate(75%,0%);
    }
    50%{
        transform: translate(80%,-500%);
    }
    51%{
        transform:translate(85%,0%);
    }
    90%{
        transform:translate(110%,0%);
        opacity:0;
    }
    100%{
        opacity: 0;
    }}

@keyframes flicker{
    0%{
        opacity: 0;
        translate:(0%,0%);
    }
    7%{
        opacity: 0;
        
    }
    10%{
        opacity: 1;
       
    }
    13%{
        opacity: 0;
       
    }
    27%{
        opacity: 0;
        translate:(50%, 0%);
    }
    30%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }

    57%{
        opacity: 0;
        translate:(-50%, 20%);
    }
    60%{
        opacity: 1;
    }
    63%{
        opacity: 0;
    }

    87%{
        opacity: 0;
        translate:(-30%, 10%);
    }
    90%{
        opacity: 1;
    }
    93%{
        opacity: 0;
    }
    100%{
         opacity: 0;
        translate:(0%,0%);
        
    }
    
}
@keyframes shiver{
    0%{
        transform: translate(5%,0%);
    }
    10%{
        transform: translate(-5%,0%);
    }
    20%{
        transform: translate(5%,0%);
    }
    30%{
        transform: translate(-5%,0%);
    }
    40%{
        transform: translate(5%,0%);
    }
    50%{
        transform: translate(-5%,0%);
    }
    60%{
        transform: translate(5%,0%);
    }
    70%{
        transform: translate(-5%,0%);
    }
    80%{
        transform: translate(5%,0%);
    }
    90%{
        transform: translate(-5%,0%);
    }
    100%{
        transform: translate(5%,0%);
    }
}
@keyframes solidify{
    0%{
        filter:blur(5px);
        background-color:rgba(85, 85, 130, 0)
    }
    50%{
        filter:blur(2px);
        background-color:rgba(35, 35, 50, 0.8)
    }
    75%{
        filter:blur(0px);
        background-color:rgb(114, 135, 134)
    }
    95%{
        filter:blur(0px);
        background-color:rgb(114, 135, 134)
    }
}

