img {
  height: 200px;
  display: inline-block;
  rotate: 45deg;
}

body
{
  display: flex;
  flex: 1;
  gap: 5vw;
  
  margin-left: 20vw;
  margin-right: 1vw;
  margin-block: 10vh;
  
}
.column-1{
  display: grid;
  

}
.column-2 {

  display: grid;


}
.column-2 > img{
  margin-block: 3vh;
}

.column-3 {

  display: grid;


}
.column-3 > img{
  margin-block: 5vh;
}


#img-0 {

}

#img-1 {
  
}

#img-2 {
  
  
}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  
}

#img-10 {
  
}

#img-11 {

 position:relative;
 top:-11000vh;

  
  
}

#img-12 {
  
}

