body{
    background-color: rgb(204, 204, 255);
    text-align: center;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-size: cover; /* Scales the image to cover the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
  }
 d

h1{
    font-size: 8vh;
}

p{
    font-size: 5vh;
}

fieldset {
  border: none;
}

textarea{
    background-color: rgb(102, 255, 204);
    width: 80%;
    height: 7vh;
    font-size: 3.5vh;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;

}
input{
    background-color: rgb(255, 204, 204);
    height: 5vh;
    width: 80%;
    font-size: 5vh;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.entry{
  
  width: 100%; /* Let the grid control the width */
  height: 5rem; /* Fixed height for each entry */
  padding: 1rem; /* Reduced padding for a better fit */
  
  
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px gray;

  
}
.entry:hover{
  transform: scale(1.1);
}
.grid{
  align-items: center;
  display: grid; /* Correct grid display */
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr)); /* Automatically adjusts column size */
  gap: 5rem; /* Adds space between the items */
  padding: 1rem; /* Padding around the grid */
  
}




.Timestamp {
  display: none;
}

.honeypot-field {
    display: none;
  }

  #cat p {
    position: absolute;
    top: calc(50% + 150px); /* Adjust position relative to the image */
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    font-size: 5vh;
    color: black;
  }
  
  #cat p.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  #cat img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 80%;
    height: auto;
  }
  
  #cat img.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .catmessage{
    font-size: 10vh;
  }
  
